.editIconClass {
  cursor: pointer;
  color: orange;
}

.displayIconClass {
  cursor: pointer;
  color: #17a2b8;
}

.deleteIconClass {
  cursor: pointer;
  color: red;
}

.titleClass {
  color: darkred;
  font-size: 30px;
  font-weight: bold;
}
