<div class="col-10 mx-auto borderClass">
  <div class="row">
    <div class="col">
      <span class="titleClass">{{'employee-management.space.title' | translate}}</span>
    </div>
    <div class="col text-right">
      <button title="add employee" class="btn btn-info font-weight-bold" (click)="gotoAddEmployee()">{{'employee-management.space.addButton' | translate}}</button>
    </div>
  </div>
  <table class="table table-striped table-bordered mt-3">
    <thead>
      <tr>
        <th>{{'employee-management.space.tableFields.id' | translate}}</th>
        <th>{{'employee-management.space.tableFields.firstName' | translate}}</th>
        <th>{{'employee-management.space.tableFields.lastName' | translate}}</th>
        <th>{{'employee-management.space.tableFields.age' | translate}}</th>
        <th>{{'employee-management.space.tableFields.actions' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{employee.id}}</td>
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.age}}</td>
        <td>
          <span class="col"><fa-icon title="update employee" class="editIconClass" [icon]="faEdit" (click)="updateEmployee(employee.id)"></fa-icon></span>
          <span class="col"><fa-icon title="employee details" class="displayIconClass" [icon]="faEye" (click)="getEmployee(employee.id)"></fa-icon></span>
          <span class="col"><fa-icon title="delete employee" class="deleteIconClass" *ngIf="roleMatch(['ADMIN'])" [icon]="faMinus" (click)="deleteEmployee(employee.id)"></fa-icon></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
