<div class="container col-6 borderClass">
  <h3>{{'employee-management.add-view.title' | translate}}</h3>
  <form #employeeForm="ngForm" novalidate (ngSubmit)="onSubmit(employeeForm)" >
    <div class="form-group">
      <label class="font-weight-bold" for="firstName">{{'employee-management.add-view.formFields.firstName' | translate}}</label>
      <input #firstName="ngModel" maxSizeSelector="15" [class.is-invalid]="firstName.invalid && firstName.touched" [(ngModel)]="employee.firstName" name="firstName" id="firstName" type="text" class="form-control" required minlength="3"/>
      <div *ngIf="firstName.errors && firstName.touched">
        <small class="text-danger" *ngIf="firstName.errors['required']">{{'employee-management.add-view.errorMessages.firstName.required' | translate}}</small>
        <small class="text-danger" *ngIf="firstName.errors['minlength']">{{'employee-management.add-view.errorMessages.firstName.minLength' | translate}}</small>
        <small class="text-danger" *ngIf="firstName.errors['maxSizeSelector']">{{'employee-management.add-view.errorMessages.firstName.maxLength' | translate}}</small>
      </div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold" for="lastName">{{'employee-management.add-view.formFields.lastName' | translate}}</label>
      <input #lastName="ngModel"maxSizeSelector="20" [class.is-invalid]="lastName.invalid && lastName.touched" [(ngModel)]="employee.lastName" name="lastName" id="lastName" type="text" class="form-control" required minlength="3"/>
      <div *ngIf="lastName.errors && lastName.touched">
        <small class="text-danger" *ngIf="lastName.errors['required']">{{'employee-management.add-view.errorMessages.lastName.required' | translate}}</small>
        <small class="text-danger" *ngIf="lastName.errors['minlength']">{{'employee-management.add-view.errorMessages.lastName.minLength' | translate}}</small>
        <small class="text-danger" *ngIf="lastName.errors['maxSizeSelector']">{{'employee-management.add-view.errorMessages.lastName.maxLength' | translate}}</small>
      </div>
    </div>
    <div class="form-group">
      <label class="font-weight-bold" for="age">{{'employee-management.add-view.formFields.age' | translate}}</label>
      <input #age="ngModel" [class.is-invalid]="age.invalid && age.touched" [(ngModel)]="employee.age" name="age" id="age" type="number" class="form-control" required/>
      <div *ngIf="age.errors && age.touched">
        <small class="text-danger" *ngIf="age.errors['required']">{{'employee-management.add-view.errorMessages.age.required' | translate}}</small>
      </div>
    </div>
    <div class="form-group">
      <button title="submit" class="btn btn-info" type="submit">{{'common-components.button.submit' | translate}}</button>
      <button title="reset" class="btn btn-warning ml-2" type="button" (click)="onReset(employeeForm)">{{'common-components.button.reset' | translate}}</button>
      <button title="cancel" class="btn btn-danger ml-2" type="button" (click)="onClose()">{{'common-components.button.cancel' | translate}}</button>
    </div>
  </form>
</div>
